@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

.App {
  transition: background-color 0.3s ease;
  width: 100%;
  height: 100vh;
}

.light-mode {
  background-color: #fff;
  color: #333;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}
.trivia{
  color: #6288F4;
}
.game{
  color: #f70008;
}
.correct {
  font-size: 35px;
  font-weight: bold;
}
.correct-answer {
  color: rgb(6, 196, 6);
  font-weight: bold;
}

.navbar-brand {
  font-family: "Finger Paint";
  font-weight: 400;
  font-size: 25px;
}
label{
  display: none;
}

